---
export interface Props {
  href: string
  titel: string
  vorschaubild: string
}

const { href, titel, vorschaubild } = Astro.props
const height = 300
const witdh = 400
---

<div
  class="border-b-4 border-pgl-blue shadow-xl duration-300 sm:bg-white md:hover:scale-105 md:hover:shadow-2xl">
  <a href={href}>
    <img
      src={vorschaubild}
      alt={titel}
      height={height}
      width={witdh}
      class="m-0 h-fit rounded-t-md"
    />
    <div class="bg-white p-4">
      <span class="text-xl font-semibold text-pgl-blue">{titel}</span>
    </div>
  </a>
</div>
