---
import type { CartItem } from '@pgl/data'

import ProductCard from './_ProductCard'

const sujet2023: CartItem = { article: 'PGL Sujet 2023' }
const sujet2024: CartItem = { article: 'PGL Sujet 2024' }
const sujet2025: CartItem = { article: 'PGL Sujet 2025' }
const fasiPin: CartItem = {
  article: 'Fasi-Pin 2025',
  description: '40 x 30 mm / Silber',
  price: 10,
}
const jubiPin: CartItem = {
  article: 'Jubi-Pin',
  description: '35 x 35 mm / Silber',
  price: 10,
}
const pglPin: CartItem = {
  article: 'PGL-Pin',
  description: '25 x 21 mm / Silber',
  price: 10,
}
const pinPackage: CartItem = {
  article: 'Pin-Package',
  description: 'Alle drei Pins zusammen',
  price: 20,
}
const halleluja: CartItem = {
  article: 'CD "Halleluja" (2016)',
  description: 'Der volle PGL Sound für zuhause',
  price: 25,
}
const chianti: CartItem = {
  article: 'CD "Chianti" (2006)',
  description: 'Der volle PGL Sound für zuhause',
  price: 25,
}
---

<section id="shop" class="bg-slate-100">
  <div class="container">
    <article>
      <h1>Shop</h1>
      <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
        <ProductCard
          item={fasiPin}
          vorschaubild="/fasi-pin.webp"
          client:visible>
          <span>{fasiPin.description}</span>
        </ProductCard>
        <ProductCard
          item={jubiPin}
          vorschaubild="/jubi-pin.webp"
          client:visible>
          <span>{jubiPin.description}</span>
        </ProductCard>
        <ProductCard item={pglPin} vorschaubild="/pgl-pin.webp" client:visible>
          <span>{pglPin.description}</span>
        </ProductCard>
        <ProductCard
          item={pinPackage}
          vorschaubild="/all-pins.webp"
          client:visible>
          <span>{pinPackage.description}</span>
        </ProductCard>
        <ProductCard
          item={sujet2023}
          vorschaubild="/sujet-2023.webp"
          client:visible>
          <span class="text-base leading-none"
            >Nur gesamtes Ensemble. Kein Einzelverkauf. Kontaktaufnahme via <a
              href="mailto:info@pgl.ch">info@pgl.ch</a
            >.</span
          >
        </ProductCard>
        <ProductCard
          item={sujet2024}
          vorschaubild="/sujet-2024.webp"
          client:visible>
          <span class="text-base"
            >Nur gesamtes Ensemble. Kein Einzelverkauf. Kontaktaufnahme via <a
              href="mailto:info@pgl.ch">info@pgl.ch</a
            >.</span
          >
        </ProductCard>
        <ProductCard
          item={sujet2025}
          vorschaubild="/sujet-2025.webp"
          client:visible>
          <span class="text-base"
            >Nur gesamtes Ensemble. Kein Einzelverkauf. Kontaktaufnahme via <a
              href="mailto:info@pgl.ch">info@pgl.ch</a
            >.</span
          >
        </ProductCard>
      </div>
      <div class="mt-4 grid grid-cols-1 gap-4 sm:grid-cols-2">
        <ProductCard
          item={halleluja}
          vorschaubild="/halleluja.webp"
          client:visible>
          <p class="m-0 text-sm">01. Halleluja</p>
          <p class="m-0 text-sm">02. Mein Heimatland</p>
          <p class="m-0 text-sm">03. Highland Cathedral</p>
          <p class="m-0 text-sm">04. Sweet Caroline</p>
          <p class="m-0 text-sm">05. Unter den Kastanien</p>
          <p class="m-0 text-sm">06. Böhmischer Traum</p>
          <p class="m-0 text-sm">07. Trompeten Echo</p>
          <p class="m-0 text-sm">08. Sierra Nevada</p>
          <p class="m-0 text-sm">09. Mein Herz es brennt</p>
          <p class="m-0 text-sm">10. Ich sing ein Lied für dich</p>
          <p class="m-0 text-sm">11. CH-Potpourri</p>
          <p class="m-0 text-sm">12. Fernando</p>
          <p class="m-0 text-sm">13. Und morgen früh küss ich dich wach</p>
          <p class="m-0 text-sm">14. Gilberte</p>
          <p class="m-0 text-sm">15. Maastricht</p>
          <p class="m-0 text-sm">16. Atemlos</p>
          <p class="m-0 text-sm">17. Im Örgelihuus</p>
          <p class="m-0 text-sm">18. Das Spatzenlied</p>
        </ProductCard>
        <ProductCard item={chianti} vorschaubild="/chianti.webp" client:visible>
          <p class="m-0 text-sm">01. Chianti Wein</p>
          <p class="m-0 text-sm">02. Alls was bruchsch esch Liebi</p>
          <p class="m-0 text-sm">03. Lauchdorfer</p>
          <p class="m-0 text-sm">04. Cia Amore</p>
          <p class="m-0 text-sm">05. Chris Roberts-Medly</p>
          <p class="m-0 text-sm">06. Eleni</p>
          <p class="m-0 text-sm">07. Mariachi</p>
          <p class="m-0 text-sm">08. Der Holzknecht</p>
          <p class="m-0 text-sm">09. Nora gib Gas</p>
          <p class="m-0 text-sm">10. Udo-Medly</p>
          <p class="m-0 text-sm">11. Hansi-Medly</p>
          <p class="m-0 text-sm">12. Elvis-Medly</p>
          <p class="m-0 text-sm">13. Wandersmann</p>
          <p class="m-0 text-sm">14. Oh Katharina</p>
          <p class="m-0 text-sm">15. Zeig mir die Berge</p>
          <p class="m-0 text-sm">16. Krainerli</p>
          <p class="m-0 text-sm">17. Hans Spielmann</p>
        </ProductCard>
      </div>
    </article>
  </div>
</section>
