---
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import type { Asset } from 'contentful';

import ArrowLink from 'src/components/arrow-link.astro';
import Carousel from 'src/components/carousel';
import { ArrowRight } from 'src/components/icons';
import type { TypeNewsFields } from 'src/contentful';
import Layout from 'src/layouts/Layout.astro';
import ContentService from 'src/lib/contentful';
import contentfulImage from 'src/lib/contentful-image';

export const getStaticPaths = async () => {
  const newsItems = (await ContentService.instance.getEntriesByType<TypeNewsFields>('news')).map(
    (entry: any) => entry.fields
  );
  const pages = newsItems.map((item: any) => ({
    params: { slug: item.slug },
    props: {
      titel: item.titel,
      pageTitle: `PGL | ${item.titel}`,
      bilder: item.bilder
        ?.filter((b: Asset) => b.fields)
        .map((b: any) => ({
          src: contentfulImage(b.fields.file.url, {
            height: 380,
            quality: 80,
            fit: 'fill',
            format: 'webp'
          }),
          alt: b.fields.title
        })),
      mediaSlug: item.mediaSlug,
      datum: new Date(item.datum).toLocaleDateString('de-CH', { year: 'numeric', month: '2-digit', day: '2-digit' }),
      autor: item.autor,
      content: documentToHtmlString(item.text)
    }
  }));

  return pages;
};

const { titel, pageTitle, bilder, mediaSlug, datum, autor, content } = Astro.props;
---

<Layout title={pageTitle}>
  <main>
    <div class="container">
      <article>
        <ArrowLink style="mt-12" href="/#news" content="Zurück zu den News" />
        {
          bilder ? (
            bilder.length === 1 ? (
              <img src={bilder[0].src} alt={bilder[0].alt} class="max-h-[300px] lg:max-h-[380px]" />
            ) : (
              <Carousel images={bilder} client:visible />
            )
          ) : null
        }
        {
          mediaSlug && (
            <div class="flex">
              <span class="grow" />
              <div class="flex duration-200 md:hover:scale-110">
                <a href={`/media/${mediaSlug}`} class="w-100 text-2xl font-bold text-pgl-blue md:hover:cursor-pointer">
                  Mehr Bilder
                </a>
                <ArrowRight />
              </div>
            </div>
          )
        }
        <h1 class="mt-0">{titel}</h1>
        <p class="font-medium text-slate-900/60">{autor}, {datum}</p>
        <p set:html={content} />

        <ArrowLink style="mt-6" href="/#news" content="Zurück zu den News" />
      </article>
    </div>
  </main>
</Layout>
