---
import { Download, Play } from '@pgl/components/icons';
import { fetchFromContentful, type InternAufnahme } from '@pgl/contentful';

const byName = (a: InternAufnahme, b: InternAufnahme): number => {
  if (a.titel < b.titel) return -1;
  if (a.titel > b.titel) return 1;
  return 0;
};

const aufnahmen = (await fetchFromContentful<InternAufnahme>('internAufnahmen')).sort(byName);
---

<h2>Aufnahmen</h2>
{
  aufnahmen.sort(byName).map((aufnahme) => (
    <div class="flex w-full p-1 odd:bg-slate-100 even:bg-white hover:bg-slate-200">
      <span>{aufnahme.titel}</span>
      <span class="grow" />
      <span
        data-title={aufnahme.audiofile?.fields.title}
        data-src={aufnahme.audiofile?.fields.file?.url}
        class="play mr-4 mt-[4px] duration-300 md:hover:scale-125 md:hover:cursor-pointer"
      >
        <Play />
      </span>
      <span
        data-title={aufnahme.audiofile.fields.file?.fileName}
        data-src={aufnahme.audiofile.fields.file?.url}
        class="download mt-[4px] hidden duration-300 md:hover:scale-125 md:hover:cursor-pointer lg:block"
      >
        <Download />
      </span>
    </div>
  ))
}
