---
import contentfulImage from 'src/lib/contentful-image';

const { slug, titel, vorschaubild } = Astro.props;
const link = `/media/${slug}`;
const height = 300;
const width = 400;
---

<div class="border-b-4 border-pgl-blue shadow-xl duration-300 md:bg-white md:hover:scale-105 md:hover:shadow-2xl">
  <a href={link}>
    <img
      src={contentfulImage(vorschaubild, {
        height: height,
        width: width,
        quality: 80,
        fit: 'fill',
        format: 'webp'
      })}
      alt={titel}
      class="m-0 rounded-t-md object-cover"
      height={height}
      width={width}
    />
    <div class="bg-white p-4">
      <span class="text-xl font-semibold text-pgl-blue">{titel}</span>
    </div>
  </a>
</div>
