---
import { ArrowLeft } from 'src/components/icons';
import type { TypeMediaFields } from 'src/contentful';
import Layout from 'src/layouts/Layout.astro';
import ContentService from 'src/lib/contentful';
import BilderArchivJahr from './_bilder-archiv-jahr.astro';

const media = (await ContentService.instance.getEntriesByType<TypeMediaFields>('media'))
  .map((entry) => entry.fields)
  .filter((m) => m.archiv);
---

<Layout title="PGL | Archiv">
  <main class="bg-slate-200">
    <div class="container">
      <article>
        <div class="mt-12 flex">
          <span class="grow"></span>
          <div class="flex duration-200 md:hover:scale-110">
            <ArrowLeft />
            <a href="/#media" class="w-100 text-2xl font-bold text-pgl-blue md:hover:cursor-pointer">
              Zurück zur Galerie
            </a>
          </div>
        </div>
        <h1>Vergangene Jahre</h1>
        <BilderArchivJahr jahr={2023} media={media} />
        <BilderArchivJahr jahr={2022} media={media} />
        <BilderArchivJahr jahr={2021} media={media} />
        <BilderArchivJahr jahr={2020} media={media} />
        <BilderArchivJahr jahr={2019} media={media} />
        <BilderArchivJahr jahr={2018} media={media} />
        <BilderArchivJahr jahr={2017} media={media} />
        <BilderArchivJahr jahr={2016} media={media} />
        <BilderArchivJahr jahr={2015} media={media} />
        <div class="mt-6 flex">
          <span class="grow"></span>
          <div class="flex duration-200 md:hover:scale-110">
            <ArrowLeft />
            <a href="/#media" class="w-100 text-2xl font-bold text-pgl-blue md:hover:cursor-pointer">
              Zurück zur Galerie
            </a>
          </div>
        </div>
      </article>
    </div>
  </main>
</Layout>
