---
import ArrowLink from '@pgl/components/arrow-link.astro';
import { fetchFromContentful, type MediaItem } from '@pgl/contentful';
import Layout from '../../layouts/Layout.astro';
import BilderArchivJahr from './_bilder-archiv-jahr.astro';
import BilderArchivOlderThan from './_bilder-archiv-older-than.astro';

const mediaItems = (await fetchFromContentful<MediaItem>('media')).filter((m: any) => m.archiv);
---

<Layout title="PGL | Archiv">
  <main class="bg-slate-200">
    <div class="container">
      <article>
        <ArrowLink style="mt-12" href="/#media" content="Zurück zur Galerie" />
        <h1>Vergangene Jahre</h1>
        <BilderArchivJahr jahr={2023} media={mediaItems} />
        <BilderArchivJahr jahr={2022} media={mediaItems} />
        <BilderArchivJahr jahr={2021} media={mediaItems} />
        <BilderArchivJahr jahr={2020} media={mediaItems} />
        <BilderArchivJahr jahr={2019} media={mediaItems} />
        <BilderArchivJahr jahr={2018} media={mediaItems} />
        <BilderArchivJahr jahr={2017} media={mediaItems} />
        <BilderArchivJahr jahr={2016} media={mediaItems} />
        <BilderArchivOlderThan jahr={2016} media={mediaItems} />
        <ArrowLink style="mt-6" href="/#media" content="Zurück zur Galerie" />
      </article>
    </div>
  </main>
</Layout>
